body {
  background-color: #eaeaea;
  font-family: "Montserrat", sans-serif;
  /* font-family: "Roboto", sans-serif; */
}
.wrapper {
  padding-right: 15px;
  padding-left: 15px;
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 36px;
  padding-bottom: 40px;
}

.center {
  text-align: center;
}

.nav {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0;
}

.nav > li {
  padding-left: 23px;
  margin-left: 22px;
  position: relative;
}

.nav > li:first-child {
  padding-left: 0px;
  margin-left: 0px;
}

.nav > li::before {
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  background-color: #494949;
  position: absolute;
  left: 0;
}
.nav > li:first-child::before {
  display: none;
}

.nav > li > a {
  text-decoration: none;
  color: #494949;
}

.banner {
  background-image: url(../img/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  padding-top: 215px;
  padding-bottom: 275px;
}

.pizza {
  position: absolute;
  right: -23px;
  top: -200px;
}

.title {
  font-size: 50px;
  margin-bottom: 10px;
  letter-spacing: 0.5px;
}

.description {
  font-size: 25px;
  line-height: 30px;
  max-width: 570px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 24px;
  margin-top: 0;
}

.btn {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 800;
  border: 2px solid white;
  padding: 12px 0;
  max-width: 187px;
  text-align: center;
}

h2 {
  font-family: "Montserrat";
  font-size: 45px;
  color: #282828;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  position: relative;
  display: inline-block;
  padding-right: 127px;
  padding-left: 127px;
  margin-bottom: 14px;
}

h2::before,
h2::after {
  content: "";
  position: absolute;
  background-image: url(../img/item.png);
  display: block;
  width: 102px;
  height: 28px;
  top: calc(50% - 14px);
}

h2::before {
  left: 0;
}

h2::after {
  right: 0;
}

h2 + p {
  font-size: 20px;
  color: #959595;
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

.menu {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding-left: 13px;
  margin-top: 36px;
  margin-bottom: 65px;
}

.menu > li {
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.menu > li::before {
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  background-color: #494949;
  position: absolute;
  left: 0;
}
.menu > li:first-child::before {
  display: none;
}

.menu > li > a {
  text-decoration: none;
  color: #494848;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 18px;
}

.menu > li > a.active {
  border-bottom: 4px solid #ee252d;
  position: relative;
}
.menu > li > a.active::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  display: block;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-bottom: 7px solid #ee252d;
}

.box {
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.11);
  display: flex;
  justify-content: space-between;
  margin-bottom: 81px;
}

.box-item {
  padding: 0px 0px 57px 56px;

  box-sizing: content-box;
}

.number {
  margin-bottom: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 120px;
  font-weight: 900;
  line-height: 0.5;
  position: relative;
  color: #282828;
  margin-top: 93px;
}

.number::after {
  content: "";
  display: block;
  position: absolute;
}

.number-one::after {
  background-image: url(../img/icon01.png);
  width: 126px;
  height: 71px;
  left: 69px;
  top: calc(50% - 35px);
}
.number-two::after {
  background-image: url(../img/icon02.png);
  width: 184px;
  height: 81px;
  left: 88px;
  top: calc(50% - 40px);
}
.number-three::after {
  background-image: url(../img/icon03.png);
  width: 142px;
  height: 68px;
  left: 94px;
  top: calc(50% - 34px);
}

.box-text {
  border-right: 1px solid #eaeaea;
  padding-right: 55px;
}

.box-text h3 {
  font-size: 45px;
  color: #282828;
  margin-bottom: 0;
}

.box-item:last-child .box-text {
  border-right: none;
}
.box-text p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #282828;
  line-height: 24px;
}

.btn-start {
  color: white;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  background-image: url(../img/bgtitle.png);
  background-position: center center;
  text-decoration: none;

  padding: 30px 55px;
  background-repeat: no-repeat;
}

.page {
  padding-top: 85px;
  padding-bottom: 94px;
}

.footer {
  background-image: url(../img/footer.png);
  padding: 31px 0;
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

@media (max-width: 1200px){
    .wrapper {
        max-width: 800px;

    }
    .pizza {
        display: none;
    }
    .banner {
        padding-top: 76px;
        padding-bottom: 100px;
    }

    .h2 {
        font-size: 35px;
    }
    .h2 + p {
        font-size: 18px;
    }
    menu > li {
        padding-left: 15px;
        padding-right: 15px;
    }
    .box {
        flex-direction: column;
    }
    .box-text {
        border-right: none;
        border-bottom: 1px solid #eaeaea;
        padding-right: 0;
        padding-bottom: 30px;
    }
    .box-item {
        padding: 22px 55px 18px 55px;
    }
    .box-item:last-child .box-text{
        border-bottom: none;
        
    }
    .number { 
        margin-top: 40px;
    }
}

@media (max-width: 800px) {
    .navigation {
        flex-direction: column;
    }
    .nav {
        margin-top: 33px;
    }
    .h2::before, .h2::after {
        display: none;
    }
    
    .btn-start {
        font-size: 20px;
        background-size: contain;
    }

    .footer {
        font-size: 15px;
    }
}